<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_PATH" value="./logs"/>
	<!-- Appenders 영역은 로그의 형태를 설정하고 어떤 방법으로 출력할지를 설정하는 곳, 
	Appender는 자체는 하나의 인터페이스 이며 하위 여러 구현체가 존재함 
	-->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender" >
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<lebel>
			INFO
			</lebel>
		</filter>
		<encoder>
			<pattern>
			[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<file>${LOG_PATH}/info.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/info_${type}.%d{yyyy-MM-dd}.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>
			[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger %msg%n
			</pattern>
		</encoder>
	</appender>
	<!-- TRACE > DEBUG > INFO > WARN > ERROR > OFF -->
	<!-- ROOT Logger -->
	<!-- 설정 파일에 정의된 Appender를 활용하려면 Root 영역에서 Appender를 참조해서 로깅 레벨을 설정합니다. -->
	<root level="INFO">
		<appender-ref ref="console"></appender-ref>
		<appender-ref ref="INFO_LOG"></appender-ref>
	</root>
	
	
</configuration>